<template>
  <div class="sidebarContainer">
    <h3 class="sidebarHeadline">Kontakt</h3>
    <div class="contactDiv">Mari Sarv</div>
    <div class="contactDiv">EKM Eesti Rahvaluule Arhiiv</div>
    <a class="contactDiv" href="mailto:mari@haldjas.folklore.ee">mari@haldjas.folklore.ee</a>
  </div>
</template>

<script>

export default {
  name: 'Contact',
};
</script>

<style scoped>
 .contactDiv {
   padding-bottom: 0.5em;
 }
</style>
