<template>
  <div class="sidebarContainer">
  <h3 class="sidebarHeadline">Tutvustus ja reeglid</h3>
  <div>
    Mobiilpositsioneerimisel põhinev veebirakendus pärimuskogude tutvustamiseks.<br><br>
    EKM Eesti Rahvaluule Arhiivi on läbi aegade kogutud mitmesugust kohasidusat
    pärimusainest, rahvaluulearhiivi tegevuse üheks eesmärgiks on seda ainest vahendada Eesti
    avalikkusele. Tänapäeval tundub seda mõistlik ja tore teha mobiiltelefoniga kasutatava
    veebirakenduse vahendusel (veebirakendust peame eraldi äpist jätkusuutlikumaks).<br><br>
    Mängu eesmärgiks on külastada n arv erinevaid punkte Eestimaal ning tutvuda seal
    pärimuspaiga ja sellega seotud teabega rahvaluulearhiivis (lugeda teksti, kuulata salvestist
    või
    vaadata vana fotot). Lisapunktide saamiseks tuleb sooritada ka mingi ülesanne või vastata
    mingile asjakohasele küsimusele.<br><br>
    Kui kõik mängus olevad punktid läbitud, on üks mäng sooritatud ja läbimiseks
    võib valida mõne teise raja. Samal ajal võib osaleda mitmes mängus korraga.

  </div>
</div>
</template>

<script>

export default {
  name: 'Rules',
};
</script>

<style scoped>

</style>
