<template>
<div>
  <h1>Halduskeskkond</h1>
</div>
</template>

<script>
import AdminHeader from './Menu/AdminHeader';

export default {
  name: 'AdminMain',
  components: { AdminHeader },
};
</script>

<style scoped>

</style>
