<template>
  <AdminHeader></AdminHeader>
</template>

<script>
import AdminHeader from './Admin/Menu/AdminHeader';

export default {
  name: 'Admin',
  components: { AdminHeader },
};
</script>

<style scoped>

</style>

